.otp_bx{
    input{
        width: calc(100% / 4) !important;
        height: 46px;
        border-radius: 6px;
        background-color: #f7f7f7;
        // &:focus-visible{
        //     border-color: transparent !important;
        // }
        &:focus{
            outline: none !important;
            border: 1px solid var(--main_green_color);
        }
        &:focus-within{
            box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
        }
    }
    .separator_line{
        width: 30px;
        text-align: center;
    }
    .ant-form-item-label{
        label{
            height: 46px;
            color: #494949;
            font-weight: 600;
            &:lang(en){
                font-family: "Poppins", sans-serif;
            }
            &:lang(ar){
                font-family: "Tajawal", sans-serif;
            }
            &::before{
                display: none !important;
            }
        }
    }
}